include buf.yaml
include buf.lock
include buf.gen.yaml
include go.mod
include go.sum
include .dockerignore
include Dockerfile.gateway
include Dockerfile.server
include compose.yaml
recursive-include proto *.proto
recursive-include cmd *.go
recursive-include gen/go *.go
recursive-include docs *.md *.json
recursive-include deploy *.toml
